<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django flatpages — {% block title %} {% endblock title %}</title>
</head>
<body>
  <h2>Django flatpages</h2>
  {% block content %}
  {% endblock content %}
</body>
</html> -->

{% load static %}
 
<!DOCTYPE html>
<html lang="en">
 
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Django flatpages — {% block myTitle %} {% endblock myTitle %}</title>
 
  <!-- Bootstrap core CSS -->
  <link href="{% static 'startbootstrap-bare-gh-pages/startbootstrap-bare-gh-pages/css/styles.css' %}" rel="stylesheet">
 
</head>
 
<body>
 
  <!-- Navigation -->
  {% load cache %}
  {% cache 30 header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Django flatpages</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/news/">Все новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news/search/">Поиск по новостям</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news/categories/">Категории</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Личный кабинет</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endcache %}
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       {% block myContent %}
       {% endblock myContent %}
      </div>
    </div>
  </div>
 
</body>
 
</html>